<div class="formclass">
    <p style="color: black;">
        Dear colleagues,<br><br>

A happy new year to you all! I hope you celebrated the start of 2023 safely and in good spirits with family and friends. As we mark the final days of the festive season, I want to take a moment to look back on 2022 and thank you all for your contributions over the past 12 months.<br>

2021 was another transformative year for United Group. It was a year in which we strengthened the business further, growing our ranks by welcoming new members and rolling out important initiatives that will help to guarantee our continued success in the future.<br>

Among these are the extensive investment programmes across various markets including build-out of 10G fixed networks and 5G mobile networks, as well as investments into new television studios and original content.<br>

Working together we made good progress toward our strategic goals despite significant challenges – not the least of which were ongoing disruptions from the pandemic that continues to have such a substantial impact on our own work and home lives, as well as on the lives of our customers.<br>

I was proud to see how quickly we adapted to each new challenge and how teams from across the company collaborated with one another to make the most of every opportunity. Great examples of this include the successful rebranding of Vivacom Bulgaria and Nova Greece, as well as the introduction of EON in Bulgaria, Croatia, and Greece, meaning our TV platform is now available in all our markets.<br>

We also took other important steps, such as sealing a deal to acquire Greek telecoms operator Wind Hellas and reaffirming our commitment to being a sustainable business by formalising our approach to ESG.<br>

Over the past year you’ve all demonstrated over and over again our strengths as an organisation and made clear that when it comes to United Group, the whole is greater than the sum of the parts. This is because we are an ambitious team that sets high goals and a talented team that works hard to achieve them.<br>

The work we are doing is more relevant than ever today. The products and services we provide are an integral part of people’s lives. Our customers rely on us to keep them connected, informed, and entertained and I’m pleased to say that in every market they recognise our efforts to serve and delight them.<br>

2022 is set to be another exciting year for us. We can look forward to working further on the many initiatives to deliver the best services and technology, an outstanding customer experience, and amazing content.<br>

I want to thank you for your continued commitment and effort. Every one of us has an important role to play in the work ahead and I’m confident that together we will achieve great things.<br>

I wish you and your loved ones a happy and successful 2022!<br>

Kind regards,<br>

Manoj Baheti<br>
Chief Executive Officer<br>
Yash Technologies
    </p>
</div>
