<div class="formclass">
    <h1>Contact</h1>
    <p>For all enquiries, please email us using form below</p><br>
    <form>
        <mat-form-field>
            <input matInput placeholder="Write your Query" apperance="fill">
        </mat-form-field><br>
        <button mat-raised-button color="warn" type="submit">submit</button>
    </form><br>
    <mat-icon>email</mat-icon><br>piyush@yash.com<br>
    <mat-icon>room</mat-icon><br>Indore Crystal IT Park<br>
    <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button color="primary" mat-dialog-close>close</button>
    </div>
</div>
