.formclass {
    margin-top: 30px;
    margin-left: 400px;
    padding-top: 20px;
    height: 400px;
    width:500px;
    background-color: #d5cfcf;
    color: black;
    box-shadow: 12px 12px 12px gray;
    text-align: center;
    /* background-image: url("https://wallpapercave.com/wp/wp3028212.jpg") */
}